 nav.navbar-light {
     padding-top: 1rem;
     padding-bottom: 1rem;
 }
 
 .navbar-toggler {
     width: 47px;
     height: 34px;
     .line {
         width: 100%;
         float: left;
         height: 2px;
         margin-bottom: 5px;
     }
      :first-child {
         margin-top: 4px;
     }
 }
 
 //  .lock-scroll {
 //      background: rebeccapurple;
 //      overflow: hidden;
 //      position: fixed;
 //  }