@media screen and (min-width:992px) and (max-width:1199px) {
    div#hamburgerNav {
        display: none
    }
    //----------------------------
    .container {
        margin-top: 0;
    }
    //----------------------------
    .features-area::before {
        width: 80vw;
        height: 200vh;
        max-height: unset;
    }
    .contact-headers {
        margin-top: 6rem;
    }
    .section-title {
        font-size: 1.8em;
        margin-bottom: 7rem !important;
    }
    .section-title.--small {
        font-size: 1.2em;
    }
    .contact-col_2 {
        display: none
    }
}