.hero-section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: $hero-bg;
    &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        border-#{$left}: 100vw solid transparent;
        border-top: 15vw solid $hero-bg;
        pointer-events: none;
    }
}

.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include en {
        transform: rotateY(180deg);
    }
}

.hero-illustration {
    position: absolute;
    width: 50%;
    font-size: 0;
    svg {
        width: 100%;
        height: auto;
        stroke-dasharray: 230;
        stroke-dashoffset: 230;
        .hero-section.--play & {
            stroke-dasharray: 230;
            stroke-dashoffset: 230;
        }
    }
    &.--top {
        top: 0;
        left: 0;
        transform: rotateY(180deg) rotateZ(14deg) translate(-10%, -75%);
        z-index: 90;
    }
    &.--bottom {
        bottom: 0;
        right: 0;
        transform: rotateX(180deg) rotateZ(14deg) translate(40%, -30%);
    }
}

.hero-content {
    @include centered(true, true);
    z-index: 10;
    width: 50%;
    color: #ffffff;
    text-align: center;
    &__title {
        font-size: 8em;
        font-weight: bold;
        // opacity: 0;
        // animation: fade-in 1s 1s forwards;
        @include en {
            font-family: 'Courier New';
            letter-spacing: 20px;
            text-transform: uppercase;
            font-size: 10em;
        }
    }
    &__slogan {
        font-size: 2em;
        line-height: 1.3;
        font-weight: bold;
        color: #DEDEDE;
        @include fa {
            margin-top: -1em;
        }
        @include en {
            margin-top: -1.5em;
            font-family: 'Helvetica Neue';
            letter-spacing: 5px;
        }
    }
}

.hero-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5rem 0;
    text-align: center;
}