.navbar {
    z-index: z('navbar');
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 0;
    font-size: 0;
    transition: $transition;
    
    &.--condensed {
        padding: 0;
        background-color: #fff;
        border-bottom: 1px solid rgba(#000,0.05);

        a {
            color: #6C6C6C;
        }
    }

    a {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        padding: $navbar-link-y-pad $navbar-link-x-pad;
        color: #999999;
        text-transform: uppercase;
        transition: $transition;
        @include fa {
            font-size: .8rem;
        }
        @include en {
            font-size: .7rem;
            font-family: HelveticaNeue-Bold;
            letter-spacing: 0.05em;
        }

        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            top: 0;
            #{$right}: 0;
            width: 0;
            height: 100%;
            // background-color: rgba(#000, 0.1);
            background-color: rgba($hero-bg, 0.5);
            transition: width .2s ease;
        }

        &:hover {
            color: #fff;
            &::before {
                width: 100%;
            }
        }
    }
}

.navbar-inner {
    @extend %clearfix;
    margin-left: -$navbar-link-x-pad;
    margin-right: -$navbar-link-x-pad;
}

.navbar-sections {
    float: $right;
}
.navbar-main-link {
    float: $left;
}