.samples-area {

    &__header {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    &__title {

    }
    &__subtitle {
        margin-top: 0.5em;
    }
    &__body {
        margin-top: 2em;
    }
}

.samples-grid {
    @extend %clearfix;
    margin: -$sample-card-outer-pad;
}

.sample {
    position: relative;
    float: left;
    width: $sample-area-column-width;
    padding: $sample-card-outer-pad;
    transition: transform .2s ease;

    &:hover {
        z-index: 10;
        transform: translateY(-1em) scale(1.1);
    }

    &.--hidden {
        .sample__footer,
        .sample__img {
            opacity: 0;
        }
    }

    &__img {
        width: 100%;
        height: auto;
        transition: all .2s ease;
    }
    &__text {
        font-size: 1rem;
        padding: 1.5em;
        color: rgba(60,60,60,0.8);
        @if($sample-area-columns == 2) {
            font-size: 1rem;
        } @else if($sample-area-columns == 3) {
            font-size: .7rem;
        } @else {
            font-size: 1rem;
        }

        p {
            font-family: TimesNewRomanPSMT;
            font-size: 1.3em;
            line-height: 1.5;
            letter-spacing: .05em;
        }

        &.--dark {
            background-color: $sample-card-dark-text-bg;
            color: $sample-card-dark-text-color;
        }

        &.--light {
            padding-bottom: 0;
            background-color: $sample-card-light-text-bg;

            p {
                padding-bottom: $sample-card-footer-padding + .5;
                border-bottom: $sample-card-white-text-border;
            }
        }
    }
    &__footer {
        position: relative;
        z-index: 1;
        padding: $sample-card-footer-padding;
        text-align: left;
        line-height: 1;
        background-color: #fff;
        transition: $transition;
        @if($sample-area-columns == 2) {
            font-size: 1rem;
        } @else if($sample-area-columns == 3) {
            font-size: .7rem;
        } @else {
            font-size: 1rem;
        }
    }
    &__tag {
        font-family: DINAlternate-Bold;
        font-size: 2em;
        color: #6C6C6C;
        text-transform: lowercase;

        .score {
            font-size: 0.8em;
            color: rgba(108,108,108,0.55);
        }
    }
}

.sample-inner {
    background-color: #B9B9B9;
    box-shadow: $sample-card-box-shadow;
    border-radius: $sample-card-border-radius;
    overflow: hidden;
    font-size: 0;
}