.btn {
    display: inline-block;
    vertical-align: middle;
    padding: 0.5em 2em;
    border-width: 0.1em;
    border-style: solid;
    border-radius: 100px;
    font-family: HelveticaNeue;
    font-size: 1.5rem;
    letter-spacing: 0.8px;
    
    &.--primary {
        border-color: alphaless(rgb(114,170,224), 0.66);
        background: #FFFFFF;
        color: #629CD5;
        transition: all 0.1s ease-in-out;
        
        &:hover {
            background: alphaless(rgb(114,170,224), 0.66);
            color: #fff;
            // box-shadow: 2px 3px 10px 0 rgba(#000, .15);
        }
    }

    &.--small {
        padding: 0.5em 2em;
        font-size: 1.2rem;
    }
}
