- baseurl = ($i18n.lang != 'fa') ? '..' : baseurl
- var assetsUrl = baseurl + "/assets"
- var styleUrl = `${assetsUrl}/css/main${$i18n.lang != "fa" ? "."+$i18n.lang : ""}.css`
- var faviconUrl = `${assetsUrl}/favicons/favicon.png`
- var scriptUrl = `${assetsUrl}/js/script.js`