@font-face {
	font-family: Shabnam;
	font-style: normal;
	font-weight: normal;
	src: url('/assets/fonts/shabnam/Shabnam-Light.eot');
	src: url('/assets/fonts/shabnam/Shabnam-Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/assets/fonts/shabnam/Shabnam-Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/assets/fonts/shabnam/Shabnam-Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/assets/fonts/shabnam/Shabnam-Light.ttf') format('truetype');
}

@font-face {
	font-family: Shabnam;
	font-style: normal;
	font-weight: lighter;
	src: url('/assets/fonts/shabnam/Shabnam-Light.eot');
	src: url('/assets/fonts/shabnam/Shabnam-Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/assets/fonts/shabnam/Shabnam-Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/assets/fonts/shabnam/Shabnam-Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/assets/fonts/shabnam/Shabnam-Light.ttf') format('truetype');
}

@font-face {
	font-family: Shabnam;
	font-style: normal;
	font-weight: bold;
	src: url('/assets/fonts/shabnam/Shabnam-Bold.eot');
	src: url('/assets/fonts/shabnam/Shabnam-Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/assets/fonts/shabnam/Shabnam-Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/assets/fonts/shabnam/Shabnam-Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/assets/fonts/shabnam/Shabnam-Bold.ttf') format('truetype');
}
