.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.hide {
	display: none !important;
}
.show {
	display: block !important;
}
.text-hide {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}
.pull-left{float: left;}
.pull-right{float: right;}