.container {
    width: 100%;
    max-width: 1050px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem;
}

.section {
    width: 100%;
    padding-top: 10rem;
    padding-bottom: 10rem;
    overflow-x: hidden;
}

.section-header {
    margin-bottom: 10rem;
    text-align: center;
}

.section-footer {
    margin-top: 7rem;
    text-align: center;
}
