nav#navbar.navbar
  .container
    .navbar-inner
      .navbar-sections
        each link in $i18n.nav ? $i18n.nav : []
          a(data-scroll='' href='#'+link.url) #{link.title}
        - if($i18n.lang == 'fa')
          a(href='/en') English
        - else
          a(href='/' class='type-fa') فارسی
