//===========================================
// Z-Indexes
//===========================================
$z-layers: (
	navbar: 100,
);


//===========================================
// Media Queries
//===========================================
$xxs :400px;
$xs :500px;
$sm :800px;
$md :1050px;
$lg :1400px;
$xlg: 1900px;
$xxlg: 2500px;


//===========================================
// Global variables
//===========================================
$transition: all 0.2s ease;
$card-border-radius: 0.5rem;
$card-shadow: 0 0 3rem rgba(#000, 0.13);


//===========================================
// Colors
//===========================================
$background-light-gray: #efefef;
$primary-blue: #629CD5;


//===========================================
// Buttons
//===========================================
$button-primary-color: $primary-blue;
$button-primary-hover: #fff;


//===========================================
// Navbar
//===========================================
$navbar-link-x-pad: 2rem;
$navbar-link-y-pad: 1rem;


//===========================================
// Samples Area
//===========================================
$sample-area-columns: 3;
$sample-area-column-width: (100% / $sample-area-columns);
$sample-card-footer-padding: 1.5rem;
$sample-card-white-text-border: 1px solid rgba(#979797,0.5);
$sample-card-border-radius: $card-border-radius;
$sample-card-box-shadow: $card-shadow;
$sample-card-light-text-bg: #ffffff;
$sample-card-dark-text-bg: #B9B9B9;
$sample-card-dark-text-color: #ffffff;
$sample-card-outer-pad: 1rem;


//===========================================
// Arrow Button
//===========================================
$arrow-button-color: #979797;
$arrow-button-hover-color: #fff;
$arrow-button-hover-bg: none;
$arrow-button-thickness: 0.05em;


//===========================================
// Contact Area
//===========================================
$contact-area-bg: $background-light-gray;
$contact-col-gap: 2rem;
$contact-card-shadow: $card-shadow;
$contact-card-border-radius: $card-border-radius;
$contact-card-inner-pad: 2rem;
$contact-card-bottom-pad: 5rem;
$contact-detail-color: #3C3C3C;
$contact-item-hover-color: #004d98;
$contact-input-color: $contact-detail-color;
$contact-input-placeholder-color: rgba($contact-input-color, 0.40);
$contact-input-border-color: $contact-input-color;
$contact-input-border: 1px solid rgba($contact-input-border-color, 0.15);
$contact-input-focus-border-color: rgba($contact-input-border-color, 0.5);
$contact-input-valid-border-color: $primary-blue;
